# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pronostics_db

# Serveur
PORT=3003

# API-Football (laisser vide pour utiliser les données mock)
API_FOOTBALL_KEY=f040ce868emshb39f60d02ad4e7bp15cf16jsn95674becc27
API_FOOTBALL_URL=https://v3.football.api-sports.io
